@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
body{
    font: 14px/1.2 'Cera Pro', sans-serif;
    background-color: #FFFFFF;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn{
    background-color: #46A358;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    border-color: #46A358;
}
.container_register{
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 10px solid #46A358;
}
.close {
    position: relative;
    top: 30px;
    left: 285px;
    width: 18px;
    height: 18px;
    background: none;
    border: none;
}
.close:before, .close:after {
    position: absolute;
    content: '';
    left: -2px;
    width: 20px;
    height: 2px;
    background: #46A358;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.form_register{
    padding-top: 40px;
    padding-bottom: 36px;
}
.link.active{
    color: #46A358;
    pointer-events: none;
    text-decoration: none;
    border: none;
}
.link{
    color: #3D3D3D;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    position: relative;
}
.link:after{
    content: '|';
    position: absolute;
    right: -14px;
    bottom: 0;
}
.link.active:after{
    display: none;
}
.link_register{
    display: flex;
    gap:22px;
    padding-top: 60px;
}
.form_register > p{
    color: #3D3D3D;
    font-size: 13px;
    line-height: 16px;
    width: 255px;
}
input{
    color: #A5A5A5;
    width: 300px;
    height: 40px;
    border: 1px solid #EAEAEA;
    padding: 0 0 0 14px;
    border-radius: 5px;
}
.input_form{
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn_register{
    padding: 10px 118px 13px 119px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    width: 315px;
    height: 40px;
}
.line-text > span{
    color: #3D3D3D;
    font-size: 13px;
    line-height: 16px;
}
.line-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.line-text::before,
.line-text::after {
    content: '';
    height: 1px;
    width: 95px;
    background: #ccc;
    flex: 1;
}
.btn_login-with{
    width: 315px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 10px 68px 10px 68px;
    display: flex;
    justify-content: center;
}
.btn_login-with:hover{
    border: 2px solid #A5A5A5;
}
.img_login-with{
    width: 20px;
    height: 20px;
    padding: 0 9px 0 0;
}
.login-with{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 37px;
    padding-bottom: 40px;
}
.login-with_description{
    text-align: center;
    padding: 5px 0 5px 0;
    color: #727272;
    font-size: 13px;
    line-height: 16px;
}
.link_login.active{
    color: #46A358;
    pointer-events: none;
    text-decoration: none;
    border: none;
}
.link_login{
    color: #3D3D3D;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    position: relative;
}
.link_login.active:after{
    content: '|';
    position: absolute;
    right: -14px;
    bottom: 0;
    color: #3D3D3D;
}
.header{
    font-size: 0;
    padding: 0 0 9px;
    margin: 30px 0 12px;
    width: 100%;
    border-bottom: 0.3px solid #46A35880;
}
.logo{
    display: inline-block;
    width: 150px;
    text-align: left;
}
.logo_img{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: auto;
}
.nav{
    display: inline-block;
    width: calc(100% - 250px);
    text-align: center;
}
.menu{
    padding: 0;
}
.menu > li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navigation_item{
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    text-decoration: none;
    padding: 8px 0 22px;
}
.menu > li:after{
    content: '';
    height: 3px;
    width: 100%;
    border-bottom: 2px solid #46A358;
    position: absolute;
    bottom: -23px;
    left: 0;
    display: none;
}
.menu > li:hover:after{
    display: block;
}
.menu > li:hover{
    text-shadow: black 1px 1px 2px;
}
.submenu{
    position: absolute;
    top: 100%;
    left: -60%;
    width: 188px;
    padding: 35px 0 0;
    text-align: left;
    display: none;
}
.submenu li{
    list-style: none;
    background-color: #EDF6EE;
    padding: 7px 14px;
    text-shadow: none;
    /*position: relative;*/
}
.submenu > li:has(.second_submenu) > a:after{
    content: '';
    width: 6px;
    height: 6px;
    border: solid #3D3D3D;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    left: 151px;
    top: 50%;
}
.submenu a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    position: relative;
}
.menu > li:hover .submenu{
     display: block;
}
.submenu > li:hover{
    background-color: #1A712A;
}
.submenu li:hover > a{
    color: #FFFFFF;
    font-weight: 700;
}
.submenu > li:hover:after{
    border-color: #FFFFFF;
    transform: rotate(-135deg) translateY(50%);
}
.submenu > li:hover .second_submenu{
    display: block;
}
.second_submenu{
    position: absolute;
    left: 100%;
    top: 35px;
    width: 178px;
    padding-left: 2px;
    display: none;
}
.second_submenu li:hover{
    background-color: #1A712A;
}
.login{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.btn_nav > img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    padding: 1px 1px 1px 1px;
}
.btn_nav{
    padding: 5px 15px 7px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.btn:hover{
    background-color: darkgreen;
}
.intro{
    background-color: #F5F5F580;
    margin-bottom: 46px;
}
.intro_content{
    display: inline-block;
    width: 557px;
    vertical-align: middle;
    padding: 0;
}
.intro_content_welcome{
    color: #3D3D3D;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 7px;
}
h1{
    color: #3D3D3D;
    font-size: 60px;
    line-height: 70px;
    width: 560px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
h1 > span{
    color: #46A358;
    display: inline;
}
.intro_content_text{
    color: #727272;
    line-height: 24px;
    margin: 7px 20px 12px 0;
    padding-right:12px;
}
.intro_img{
    display: inline-block;
    vertical-align: middle;
    width: 507px;
    text-align: right;
    padding: 0 0 17px;
    margin: 0 12px 0 88px;
}
.btn_intro{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 7px 27px 9px 26px;
    margin-top: 44px;
    display: block;
    width: 150px;
}
.sidebar{
    width: 310px;
    background-color: #FBFBFB;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.sidebar_banner{
    margin-top: auto;
    padding-bottom: 150px;
}
.sidebar > h2{
    color: #3D3D3D;
    font-size: 18px;
    line-height: 0.8;
    font-weight: 700;
    padding-left: 18px;
}
.sidebar_list{
    list-style: none;
}
.sidebar_list a{
    color: #3D3D3D;
    font-size: 15px;
    line-height: 2.6;
    text-decoration: none;
}
.sidebar_list .active{
    color: #46A358;
    font-weight: 700;
    pointer-events: none;
}
.sidebar_list a:hover{
    color: darkgreen;
}
.shop{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.filters{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter_list{
    list-style: none;
    max-width: 400px;
    display: flex;
}
.filter_list .active{
    color: #46A358;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
    pointer-events: none;
}
.filter_list a{
    color: #3D3D3D;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 40px;
}
.filter_list a:hover{
    color: darkgreen;
}
.filters div{
    color: #3D3D3D;
    font-size: 15px;
    line-height: 16px;
}
.filters select{
    color: #3D3D3D;
    border: none;
    font-size: 15px;
    line-height: 1.1;
}
.filters select:hover{
    color: darkgreen;
}
.shop_holder{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 33px;
}
.shop_card{
    flex-basis: calc((100% - 66px)/3);
    position: relative;
    border-top: 1px solid #FBFBFB;
}
.shop_card img{
    max-width: 100%;
    vertical-align: middle;
    margin: 10px 0;
}
.shop_card_img{
    background-color: #FBFBFB;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.shop_card p{
    color: #3D3D3D;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 6px;
}
.shop_card_value{
    color: #46A358;
    font-size: 18px;
    line-height: 0.8;
    font-weight: 700;
}
.shop_now{
    display: flex;
    margin-bottom: 93px;
}
.shopping_list{
    display: none;
    gap: 10px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 45px;
    left: 67px;
}
.shopping_list li{
    list-style: none;
}
.btn_shopping{
    width: 35px;
    height: 35px;
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn_shopping img{
    margin: 0;
}
.shop_card:hover .shopping_list{
    display: flex;
}
.shop_card:hover{
    border-top-color: #46A358;
}
.sale{
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    top: 14px;
    left: 0;
    padding: 7px 8px;
}
.pages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 90px;
}
.pages ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.pages a{
    display: block;
    color: #3D3D3D;
    font-weight: 300;
    font-size: 18px;
    line-height: 0.8;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
}
.pages button{
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 9px 13px 10px 12px;
    background-color: #FFFFFF;
    width: 35px;
    height: 35px;
    cursor: pointer ;
}
.pages .active{
    background-color: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    pointer-events: none;
}
.pages a:hover{
    background-color: #727272;
    color: #FFFFFF;
}
.pages button:hover{
    background-color: #727272;
    color: #FFFFFF;
}
.blog_find-more{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 138px;
}
.blog_find-more_content{
    background-color: #FBFBFB;
    width: 586px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.blog_find-more_content img{
    margin-top: -52px;
}
.find-more_description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 37px 30px 46px 1px;
}
.blog_find-more_content h3{
    color: #3D3D3D;
    width: 150px;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    text-align: right;
}
.blog_find-more_content p{
    color: #727272;
    font-size: 12px;
    text-align: right;
    line-height: 1.7;
    margin: 9px 0 25px;
}
.find-more::after{
    content: '→';
    position: relative;
    padding-top: 2px;
    padding-left: 5px;
}
.find-more{
    padding: 11px 15px 9px 28px;
    display: flex;
    align-items: center;
}
.our_blog_content{
    text-align: center;
}
.our_blog_content h2{
    color: #3D3D3D;
    font-size: 30px;
    line-height: 16px;
    margin: 0;
}
.our_blog_content p{
    color: #727272;
    line-height: 24px;
    margin-bottom: 35px;
}
.blog-posts{
    display: flex;
    gap: 44px;
    margin-bottom: 100px;
}
.blog_posts_items{
    background-color: #FBFBFB;
    flex-grow: 1;
    width: calc((100% - 88px)/4);
}
.blog_posts_items div{
   padding: 9px 11px 12px 15px;
}
.blog_posts_items time{
    color: #46A358;
    font-weight: 500;
    width: 222px;
    display: block;
}
.blog_posts_items h3{
    color: #3D3D3D;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}
.blog_posts_items p{
    color: #727272;
    font-size: 12px;
    line-height: 22px;
    margin: 4px 0 9px;
}
.blog_posts_items a{
    color: #3D3D3D;
    font-weight: 500;
    text-decoration: none;
}
.blog_posts_items a:after{
    content: '→';
    margin-left: 5px;
}
.blog_posts_items a:hover{
    color: #46A358;
}
.footer_block{
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
}
.footer_block_list{
    list-style: none;
    padding: 0;
    display: flex;
    /*gap: 61px;*/
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 24px 0;
}
.footer_block_list li{
    max-width: 204px;
    padding-top: 108px;
    position: relative;
}
.footer_item_garden{
    background: url("../images/footer_bg1.svg") no-repeat;
    background-position-x: 16px;
}
.footer_block_list li:after{
    content: '';
    background-color: rgba(70, 163, 88, 0.13);
    border-radius: 50%;
    width: 74px;
    height: 74px;
    position: absolute;
    top: 18px;
    left: 0;
}
.footer_item_plant{
    background: url("../images/footer_bg2.svg") no-repeat;
    background-position-x: 16px;
}
.footer_item_watering{
    background: url("../images/footer_bg3.svg") no-repeat;
}
.footer_block_list li+li:before{
    content: '';
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.1);
    position: absolute;
    top: 7px;
    left: -30px;
}
.footer_block_list h2{
    color: #3D3D3D;
    font-size: 17px;
    line-height: 16px;
}
.footer_block_list p{
    color: #727272;
    line-height: 22px;
}
.footer_form{
    flex-grow: 1;
    max-width: 354px;
}
.footer_form h2{
    color: #3D3D3D;
    font-size: 18px;
    line-height: 0.8;
    margin-bottom: 25px;
}
.footer_form input{
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #0000000F;
    border-radius: 6px 0 0 6px;
    padding-left: 11px;
    width: 269px;
}
.btn_form_footer{
    padding: 10px 25px;
    margin-left: -4px;
    border-radius: 0 6px 6px 0;
    height: 40px;
}
.footer_form p{
    color: #727272;
    font-size: 13px;
    line-height: 1.6;
}
.footer_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 22px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
}
.footer_info a{
    color: #3D3D3D;
    text-decoration: none;
    position: relative;
}
.footer_info a address{
    font-style: normal;
    max-width: 205px;
}
.footer_info a address:before{
    content: url("../images/location.svg");
    position: absolute;
    top: 5px;
    left: -20px;
}
.footer_info a address:hover{
    text-shadow: #1A712A 1px 1px 2px;
}
.footer_email:before{
    content: url("../images/message.svg");
    position: absolute;
    top: 0;
    left: -20px;
}
.footer_email:hover{
    text-shadow: #1A712A 1px 1px 2px;
}
.footer_tell:before{
    content: url("../images/tell.svg");
    position: absolute;
    top: 0;
    left: -20px;
}
.footer_tell:hover{
    text-shadow: #1A712A 1px 1px 2px;
}
.footer_tell:before:hover{
    text-shadow: #1A712A 1px 1px 2px;
}
.footer_menu{
    display: flex;
    justify-content: space-between;
    padding: 33px 25px 29px;
    background-color: #FBFBFB;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
.footer_menu_nav h3{
    color: #3D3D3D;
    font-size: 18px;
    line-height: 0.8;
    margin: 0;
}
.footer_menu_list{
    list-style: none;
    padding: 0;
    margin-top: 8px;
    max-width: 138px;
}
.footer_menu_list a{
    text-decoration: none;
    color: #3D3D3D;
    line-height: 2.1;
}
.footer_menu_list a:hover{
    color: #1A712A;
}
.footer_social_media{
    margin-right: 155px;
    max-width: 224px;
}
.footer_social_media h3{
    color: #3D3D3D;
    font-size: 18px;
    line-height: 0.8;
    margin-top: 0;
}
.footer_social_media a{
    text-decoration: none;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.footer_social_media a:hover{
    border-color: #1A712A;
}
.footer_social_media_img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 33px;
    list-style: none;
    padding: 0;
}
.footer_copyrights{
    text-align: center;
    color: #3D3D3D;
    line-height: 2.1;
}
.footer_copyrights p{
    margin: 0;
}