body{
    font-family: Cera Pro, sans-serif;
    background-color: #FFFFFF;
}
.btn_nav{
    background-color: #46A358;
    color: #FFFFFF;
    padding: 8px 17px 7px 41px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border-radius: 6px;
    border-color: #46A358;
}
.container_register{
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 10px solid #46A358;
}
.close {
    position: relative;
    top: 30px;
    left: 285px;
    width: 18px;
    height: 18px;
    background: none;
    border: none;
}
.close:before, .close:after {
    position: absolute;
    content: '';
    left: -2px;
    width: 20px;
    height: 2px;
    background: #46A358;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.form_register{
    padding-top: 40px;
    padding-bottom: 36px;
}
.active{
    color: #46A358;
    pointer-events: none;
    text-decoration: none;
}
.link{
    color: #3D3D3D;
    text-decoration: none;
    border-right: 1px solid #3D3D3D;
    height: 16px;
    padding-right: 15px;
}
.link_register{
    display: flex;
    gap:22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    padding-top: 60px;
}
.form_register > p{
    color: #3D3D3D;
    font-size: 13px;
    line-height: 16px;
    width: 255px;
}
input{
    font-size: 14px;
    font-weight: 400;
    color: #A5A5A5;
    width: 300px;
    height: 40px;
    border: 1px solid #EAEAEA;
    padding: 0 0 0 14px;
    border-radius: 5px;
}
.input_form{
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn_register{
    background-color: #46A358;
    color: #FFFFFF;
    padding: 10px 118px 13px 119px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 6px;
    border-color: #46A358;
    width: 315px;
    height: 40px;
}
.line-text > span{
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.line-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.line-text::before,
.line-text::after {
    content: '';
    height: 1px;
    width: 95px;
    background: #ccc;
    flex: 1;
}
.btn_login-with{
    width: 315px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 10px 68px 10px 68px;
    display: flex;
    justify-content: center;
}
.img_login-with{
    width: 20px;
    height: 20px;
    padding: 0 9px 0 0;
}
.login-with{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 37px;
    padding-bottom: 40px;
}
.login-with_description{
    text-align: center;
    padding: 5px 0 5px 0;
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}